body {
}
/* COHORT 2021 STYLE FOR INDIVIDUAL PAGES */

.avatar {
    height: 150px;
    width: 150px;
    margin: 2vh;
    padding-top: 6vh;
}

.avatar-details {
    padding-top: 6vh;
    text-align: justify;
}

.mydetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5%;
}

#myname {
    color: #83358e;
}

.avatar-img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.container {
    padding: 2px 16px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: grey;
    padding: 20px;
    display: flex;
}

a {
    color: grey;
}

:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card-project {
    position: relative;
    display: block;
    height: 300px;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card-project:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card-project:hover .card__header {
    transform: translateY(0);
}

.card__title {
    text-align: left;
    font-size: 1em;
    margin: 0 0 .3em;
    color: #83358e;
}

.card__status {
    text-align: left;
    font-size: .8em;
    color: darkgray;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: darkgray;
    text-align: justify;
    font-size: 1rem;
    /*   font-family: "MockFlowFont";    */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    overflow-y: auto;
}

.card__description::-webkit-scrollbar {
    display: none;
}

#icon {
    height: 40px;
    margin: 3px;
}